body{
   font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
body p{
    text-align: justify;
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.first img{
    width: 100%;
}
.first h1{
    width: 50%;
}
.first{
    margin-left: 30px;
}
.second{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;   
}
.second-1 img{
    width: 30%;
    height: 70%;
}
.second-2{
    width: 30%;
    height: auto;
    padding-right: 10px;
    margin-right: 30px;
}

.link-button{
    text-decoration: none;
    font-weight: 800;
    color: white;
    background-image: linear-gradient(rgb(235, 130, 11),tomato);
    padding: 10px 30px;
    border-radius: 25px;
}
.flex-item{
    display: flex;
    margin-bottom: 150px;
}

